<!doctype html>

<html lang="en">

<head>
  <title>Tronald</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="/public/stylesheets/style.css">
  <link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous">
</head>

<body>
  <div class="jumbotron">
    <div class="container text-center">
      <h1 class="display-4">"<%= quote %>"</h1>
      <br>
      <p class="lead">-Donald Trump</p>
      <hr class="my-4">
      <p class="lead">Published: <%= createdDate %></p>
      <p class="lead">Source: <%= source %></p>
    </div>
  </div>
</body>

</html>