body {
  display: flex;
  align-items: center;
  background: url("https://i.imgur.com/9sLgSqH.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  color: #00B7FF;
}
